catboost==1.2.8
cleanco==2.3
Cython==3.2.3
Flask==3.1.2
Flask-Mailman==1.1.1
joblib==1.5.3
keras==3.13.0
mysql-connector-python==9.5.0
mysql_connector_repackaged==0.3.1
numpy==2.2.6
pandarallel==1.6.5
pandas==2.3.3
pandas_schema==0.3.6
PyMySQL==1.1.2
python-dotenv==1.2.1
rapidfuzz==3.14.3
Requests==2.32.5
scikit_learn==1.8.0
setuptools==80.9.0
SQLAlchemy==2.0.45
# tensorflow==2.20.0
tqdm==4.67.1
pycurl==7.45.7
openpyxl==3.1.5
pyarrow==22.0.0
dask[complete]==2025.12.0
nltk==3.9.2
price_parser==0.5.0
xgboost==3.1.2
flask_bcrypt==1.0.1
flask_session==0.8.0
Flask_SQLAlchemy==3.1.1
pdfplumber==0.11.8
PyMuPDF==1.26.7
python_dateutil==2.9.0
Pillow==12.0.0
paddlepaddle==3.2.2
paddleocr==3.3.2
langdetect==1.0.9
pyxlsb==1.0.10
extract-msg==0.55.0
opencv-python==4.12.0.88
networkx==3.6.1
lxml==6.0.2
pdf2image==1.17.0
fast-langdetect==1.0.0